*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
}
.App{
    text-align: center;
}
.btn_create{
    border: none;
    background-color: #7c7c7c;
    color: white;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    margin: 5px;
}
.users__cont{
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}
.user_card{
    width: 320px;
    border: solid 2px #dddcdc;
    background-color: #f1f1f1;
    padding: 10px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.user_info{
    width: 100%;
    text-align: start;
}
.user_name{
    margin: 0;
    margin-bottom: 20px ;
    text-transform: capitalize;
}
.user_email{
    margin: 0;
    font-weight: lighter;
    margin-bottom: 20px ;
}
.user_birthday{
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bolder;
}
.user_btn{
    border: none;
    background-color: #7c7c7c;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    margin: 5px;
}
.user_btns button i{
    color: white;
    font-size: 22px;
}
.red{
    background-color: rgb(248, 61, 61);
}
/* Form */
.form_cont{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);

    position: fixed;
}
.form_users{
    background-color: rgb(245, 242, 238);
    border-radius: 5px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}
.form_cont input{
    padding: 5px;
    border-radius: 5px;
   width: 90%; 
}
.form_inf3 label i{
    font-size: 30px;
}
.form_inf3 input{
    padding: 5px;
    border-radius: 5px;
    width: 45%;
}
.form_inf label i{
    font-size: 30px;
}
.form_btn{
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px ;
    cursor: pointer;
    background-color: rgb(23, 73, 129);
    color: white;
}
.btn_x{
    border: none;
    background: none;
    position:absolute;
    top: 0;
    right: 30px;
    font-size: 50px;
    cursor: pointer;
}
.none{
    display: none;
}
@media screen and (max-width:725px){
    .user_card{
        width: 250px;
    }
    .users__cont{
        justify-content: center;
    }
}
@media screen and (max-width:585px){
    .user_card{
        width: 80%;
    }
    .user_btns{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .user_btn{
        width: 80%;
    }
}